* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: $color-peach;
    color: $color-rosy;
    padding: 1rem;
    letter-spacing: .11rem;
    line-height: 1.7;
    position: relative;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}