* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    // background-image: url('https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2180&q=80');
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center bottom;
    background-color: $color-peach;
    // color: #f5f9f9;
    color: $color-rosy;
    padding: 1rem;
    letter-spacing: .11rem;
    line-height: 1.7;
    position: relative;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $color-white;
}

.heading-primary {
    color: $color-primary;
    padding: 0rem 1rem 1rem 0;
    text-transform: uppercase;
    font-size: 2.2rem;
}

.heading-secondary {
    text-align: center;
    color: $color-primary;
    padding: 0rem 1rem 1rem 0;
    text-transform: uppercase;
}

.heading-tertiary {
    color: $color-secondary;
    // color: $color-black;
    padding: 0rem 1rem 1rem 0;
    // text-transform: uppercase;
    font-size: 2.8rem;
}

.country {
    // background-color: $color-secondary;
    color: $color-primary;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .6rem;
    font-size: 1rem;
}