* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // background-image: url('https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2200&q=80');
    // background-image: url('https://images.unsplash.com/photo-1523978591478-c753949ff840?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-image: url('https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80');
    background-size: cover;
    // color: #f5f9f9;
    color: $color-white;
    padding: 2rem;
    letter-spacing: .5rem;
    line-height: 1.7;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}