// Color Variables
$color-primary: #8fb7cc;
$color-secondary:#becdd2;
$color-tertiary: #4974a5;
$color-white: #f5f9f9;
$color-black: #3e4545;
$color-light-grey: #e9ecef;
// MIXINS
@mixin box-shadow {
    box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);
}

@mixin box-shadow-light {
    box-shadow: 0 1rem 6rem 0.1rem rgba($color-white, 1);
}