.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        background-image: linear-gradient(to right bottom, $color-secondary, $color-primary);
        border: none;
        border-radius: 10rem;
        color: $color-white;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        padding: 1.3rem 3rem;
        cursor: pointer;
        transition: all .35s;
    }
    &:hover {
        transform: scale(1.05);
    }
    &:focus {
        outline: none;
    }
}

.btn-tiny {
    height: 1.75rem;
    width: 1.75rem;
    border: none;
    background: none;
    cursor: pointer;
}

.btn-tiny svg {
    height: 100%;
    width: 100%;
    fill: $color-primary;
    transition: all .3s;
}

.btn-tiny:focus {
    outline: none;
}