.error {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 2rem;
    z-index: 3000;
    transition: all .5s ease;
    &__img {
        width: 10rem;
        height: 10rem;
        z-index: 8000;
    }
    &__heading {
        color: $color-dusk;
        font-size: 2rem;
    }
    &__btn {
        width: 100%;
        padding: 1rem;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: $color-dusk;
        border: 2px solid $color-rosy;
        color: $color-white;
        cursor: pointer;
        margin-top: 2rem;
        &:hover {
            transform: scale(1.05);
            background-color: $color-rosy;
        }
    }
}