@media only screen and (min-width: 1600px) {
    html {
        font-size: 90%;
    }
}

@media only screen and (max-width: 1300px) {
    .weather-icon {
        top: 30%;
        left: 65%
    }
}

@media only screen and (max-width: 900px) {
    .header {
        display: block;
        &-heading {
            margin-left: 0rem;
            text-align: center;
        }
        &-form {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
    }
    #favBtn {
        font-size: 2rem;
    }
    .container-action-favourites-heading {
        font-size: 1.5rem;
    }
    .container-action-favourites-list {
        font-size: 1rem;
    }
    .container-action-search--input {
        width: 40%;
    }
    .container-action-search-btn {
        width: 15%;
    }
    .container {
        display: block;
        &-results {
            width: 90%;
            margin: 0 auto;
            &-content {
                width: 90%;
                margin: 0 auto;
            }
        }
    }
    .weather-icon {
        top: 20%;
        left: 65%
    }
    .container-action {
        display: flex;
        flex-direction: row-reverse;
        &-forecast {
            justify-content: center;
            margin-right: 4rem;
        }
    }
}

@media only screen and (max-width: 710px) {
    .container-action-forecast-day {
        height: 10rem;
        width: 8rem;
        & h6 {
            font-size: 1.6rem;
        }
        & p {
            font-size: 1rem;
        }
    }
    .container-results-content {
        padding-left: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        display: block;
        margin-top: 2rem;
    }
    .container-results {
        margin-top: 4rem;
    }
    .container-results-content {
        padding-left: 4rem!important;
    }
    .container-results-date {
        padding-left: 4rem!important;
        &__date {
            font-size: 1rem!important;
        }
        &__favourite--btn {
            font-size: 3rem!important;
        }
    }
    .container-results-content--description {
        font-size: 4rem;
    }
    .container-results-summary {
        width: 100%!important;
        margin-left: 0rem!important;
        margin-bottom: 2rem;
    }
    .container-action {
        display: block;
        &-forecast {
            margin-right: 0rem;
            width: 80%;
            margin: 0 auto;
        }
    }
    .container-results-content--temperature {
        font-size: 10rem;
    }
    .forecast-responsive {
        display: flex;
        align-items: flex-start;
        padding-top: .5rem;
        &-day {
            border: 1px solid white;
            height: 4rem;
            width: 6rem;
            padding: 1rem;
            margin: 1rem;
            border-radius: 10%;
            position: relative;
            & h6 {
                position: absolute;
                top: 20%;
                left: 10%;
                font-size: 1.2rem;
                text-transform: lowercase;
                font-style: italic;
            }
            & p {
                position: absolute;
                top: 60%;
                left: 10%;
                font-size: 1rem;
            }
        }
    }
    .responsive-search-heading {
        display: block;
        font-family: $heading-font;
        text-transform: uppercase;
        text-align: center;
        padding: 1rem;
    }
    .weather-icon {
        height: 8rem;
        width: 8rem;
        top: 5%;
        left: 10%;
    }
}