.container {
    width: 1180px;
    height: 88vh;
    margin: 0 auto;
    background-color: rgba($color: $color-light-grey, $alpha: .8);
    padding: 1rem;
    border-radius: 2rem;
    @include box-shadow;
    display: grid;
    // grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    // column-gap: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    max-width: 100%;
    // background-color: #F9F5F3;
    grid-column: 1/3;
    grid-row: 1/2;
    // background-color: rgba($color: $color-primary, $alpha: .1);
    // border-radius: 2rem;
    // @include box-shadow-light;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
    // padding-left: 4rem;
    &__info {
        display: flex;
        align-items: center;
    }
    &__logo {
        width: 8rem;
        height: 8rem;
        // margin-left: 2rem;
        // margin-right: 2rem;
    }
    &__heading {
        text-transform: uppercase;
        font-size: 1.6rem;
        background-image: linear-gradient(to right bottom, $color-secondary, $color-primary);
        color: transparent;
        -webkit-background-clip: text;
    }
}

.results {
    width: 96%;
    // border: black solid 2px;
    grid-row: 2/5;
    grid-column: 1/3;
    height: 80%;
    position: relative;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    margin: 0rem 2rem;
    &__container {
        grid-column: 1/2.5;
        padding: 1.4rem;
        position: relative;
        // background-color: orange;
    }
    &__love {
        background-color: none;
        position: absolute;
        right: 4rem;
        top: 0;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        &:visited,
        &:link,
        &:focus {
            outline: none;
        }
    }
    &__likes {
        // border-radius: 50%;
        // border: none;
        fill: $color-primary;
        height: 4.5rem;
        width: 4.5rem;
        margin-left: auto;
        transition: all .2s;
    }
    &__location {
        margin-bottom: 2rem;
    }
}

.details {
    display: flex;
    // grid-column: 1/3;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0rem 2rem 0rem 2rem;
    margin-left: 0rem;
    // margin-top: 8rem;
    // line-height: 2rem;
    &__temperature {
        font-size: 18rem;
        color: $color-black;
        font-family: 'Oswald', sans-serif;
        display: flex;
        line-height: 1;
        &-metric {
            font-size: 9rem;
        }
    }
    &__description {
        color: grey;
        font-size: 1.4rem;
        line-height: 2.2rem;
        &-main {
            font-size: 2rem;
        }
    }
    &__fig {
        height: 10rem;
        width: 10rem;
        padding: 0;
    }
}

.info {
    color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 0rem;
    margin-top: 4rem;
    font-size: 1.4rem;
    width: 100%;
}

.forecast {
    grid-row: 5/6;
    // background-color: orange;
    // position: relative;
    // left: -2;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    // bottom: 31rem;
    margin-top: -12rem;
    cursor: auto;
    // background-color: white;
    &__list {
        display: flex;
        text-decoration: none;
    }
    &__item {
        display: flex;
        align-items: center;
        padding: 1rem;
        margin: 1rem;
    }
    &__link,
    &__link:visited,
    &__link:link {
        color: $color-black;
        padding: 1rem;
        text-decoration: none;
        background-color: $color-white;
        padding: 4rem;
        // border: 1px solid black;
        text-align: center;
        border-radius: 1rem;
        cursor: auto;
    }
    &__fig {
        height: 4rem;
        width: 4rem;
    }
}

.saved {
    grid-column: 2.5/4;
    // width: 28rem;
    height: 100%;
    padding: 1rem;
    background-color: rgba($color: $color-secondary, $alpha: 0.2);
    position: absolute;
    right: 0;
    width: 30%;
    // border-left: 1px white solid;
    &__item {
        position: relative;
        transition: all .3s;
        &:hover {
            background-color: $color-white;
        }
    }
    &__link,
    &__link:visited,
    &__link:link {
        display: flex;
        align-items: center;
        color: $color-primary;
        padding: .5rem;
        text-decoration: none;
        margin-bottom: .5rem;
    }
    &__fig {
        height: 3.5rem;
        width: 3.5rem;
        padding-right: 1rem;
    }
    &__location {
        padding-right: 2rem;
    }
    &__delete {
        position: absolute;
        right: 0;
        opacity: 0;
        visibility: hidden;
    }
}

.saved__item:hover .saved__delete {
    visibility: visible;
    opacity: 1;
}