.container {
    width: 1180px;
    height: 88vh;
    margin: 0 auto;
    background-color: rgba($color: $color-light-grey, $alpha: .8);
    padding: 1rem;
    border-radius: $border-radius;
    @include box-shadow-dark;
    display: grid;
    // grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    // column-gap: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    max-width: 100%;
    // background-color: #F9F5F3;
    grid-column: 1/3;
    grid-row: 1/2;
    // background-color: rgba($color: $color-primary, $alpha: .1);
    // border-radius: 2rem;
    // @include box-shadow-light;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
    // padding-left: 4rem;
    &__info {
        display: flex;
        align-items: center;
    }
    &__logo {
        width: 2rem;
        height: 2rem;
        fill: $color-secondary;
        // margin-left: 2rem;
        margin-right: 2rem;
    }
    &__heading {
        text-transform: uppercase;
        font-size: 1.6rem;
        background-image: linear-gradient(to right bottom, $color-secondary, $color-primary);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
}