.saved {
    grid-column: 2.5/4;
    // width: 28rem;
    height: 100%;
    padding: 1rem;
    background-color: rgba($color: $color-secondary, $alpha: 0.2);
    position: absolute;
    right: 0;
    width: 30%;
    // border-left: 1px white solid;
    &__item {
        position: relative;
        transition: all .3s;
        &:hover {
            background-color: $color-white;
        }
    }
    &__link,
    &__link:visited,
    &__link:link {
        display: flex;
        align-items: center;
        color: $color-primary;
        padding: .5rem;
        text-decoration: none;
        margin-bottom: .5rem;
    }
    &__fig {
        height: 3.5rem;
        width: 3.5rem;
        padding-right: 1rem;
    }
    &__location {
        padding-right: 2rem;
    }
    &__delete {
        position: absolute;
        right: 0;
        opacity: 0;
        visibility: hidden;
    }
}

.saved__item:hover .saved__delete {
    visibility: visible;
    opacity: 1;
}