.saved {
    grid-column: 2.5/4;
    height: 100%;
    padding: 1rem;
    background-color: rgba($color: $color-secondary, $alpha: 0.1);
    position: absolute;
    right: 0;
    width: 30%;
    &__item {
        position: relative;
        transition: all .3s;
        border-radius: $border-radius;
        &:hover {
            background-color: $color-white;
        }
    }
    &__link,
    &__link:visited,
    &__link:link {
        display: flex;
        align-items: center;
        color: grey;
        padding: 1rem;
        text-decoration: none;
        margin-top: 1rem;
        font-size: 1.4rem;
        @include box-shadow;
        border-radius: $border-radius;
    }
    &__fig {
        height: 3.5rem;
        width: 3.5rem;
        padding-right: 1rem;
    }
    &__location {
        padding-right: 2rem;
    }
    &__delete {
        position: absolute;
        right: 1rem;
        opacity: 0;
        visibility: hidden;
        height: 2.4rem;
        width: 2.4rem;
    }
}

.saved__item:hover .saved__delete {
    visibility: visible;
    opacity: 1;
}